* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #4267b2;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left-part {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 66px;
}

.profile-logo img {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.search-wrap {
    flex-basis: 60%;
    display: flex;
}

.profile-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#main-search {
    height: 25px;
    border-radius: 2px;
    box-shadow: none;
    border: .5px solid gray;
    width: 100%;
    outline: none;
    padding: 0 5px;
    font-size: 12px;
}

.s-icon {
    background-color: #fff;
    height: 23px;
    margin: 1px 1px 1px -1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.top-icon img {
    height: 20px;
    width: 20px;
}

.top-css {
    font-family: robot, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.top-right-part {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-pic img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.top-pic-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-left {
    border-left: .5px solid rgba(2, 2, 2, .37);
}

.warchmore-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-svg:hover .cls-1,
.message-svg:hover .cls-1,
.help-svg:hover .cls-1,
.more-svg:hover .cls-1,
.notification-svg:hover .cls-1 {
    transition: .3s;
    fill: white;
}

main {
    background-color: #E9EBEE;
    min-height: 100vh;
}

.main-area {
    margin-left: 80px;
    display: flex;
}

.profile-left-wrap {
    flex-basis: 70%;
}

.profile-right-wrap {
    flex-basis: 30%;
}

.profile-cover-wrap {
    border-radius: 2px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.upload-cov-opt-wrap {
    /*position: relative;*/
}

.add-cover-photo {
    font-size: 14px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 13px 5px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    height: 20px;
}

.add-cov-opt {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 13px;
    position: absolute;
    padding: 10px 35px;
    box-shadow: 0 0 20px black;
    background-color: #fff;
    border-radius: 2px;
    transition: .2s;
    z-index: 1;
    display: none;
}

.add-cov-opt.show {
    display: block;
}

.file-upload {
    position: relative;
    display: inline-block;;
    cursor: pointer;

}

.file-upload-label {
    display: block;
    color: #000;
    border-radius: .4em;
    transition: background .3s;
    cursor: pointer;
}

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width: 0;
    height: 100%;
    opacity: 0;
}

.add-cover-text {
    margin-left: 5px;
}

.select-cover-photo {
    margin-bottom: 10px;
}

.cover-photo-rest-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 10px 0 10px;
}

img.profile-pic-me {
    height: 155px;
    width: 155px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.profile-pic {
    position: relative;
}

.profile-pic-upload {
    background-color: #000;
    color: #fff;
    height: 75px;
    width: 145px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    opacity: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    transition: .3s;
    cursor: pointer;
}

.profile-pic-upload:hover {
    opacity: .8;
}

.add-pro {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.profile-name {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.top-box-show {
    display: none;
}

.top-box-show.show {
    display: block;
}

.top-box {
    background-color: rgba(255, 255, 255, .93);
    position: fixed;
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    display: block;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    z-index: 999;
}

.align-vertical-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.profile-pic-upload-action {
    margin-top: 30px;
}

.upload-plus-text {
    font-size: 20px;
    padding: 20px 40px;
    border: 1px solid gray;
}

.upload-plus-sign {
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: auto;
}

.align-middle {
    display: flex;
    align-items: center;
}

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width: 0;
    height: 100%;
    opacity: 0;
}

.cover-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 43px;
}

.cover-but-css {
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    border-left: 1px solid gray;
    color: #2851a3;
    cursor: pointer;
    height: 18px;
}

.dont-add-cover-photo {
    padding-bottom: 48px;
}

.bio-timeline {
    margin-top: 12px;
    display: flex;
}

.bio-intro {
    background-color: #fff;
    width: 250px;
    box-shadow: 0 0 1px gray;
    border-radius: 3px;
    padding: 10px;
    margin-right: 13px;
}

.intro-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.intro-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.add-bio-text {
    margin: 5px 0;
}

.bio-details {
    color: gray;
    font-size: 12px;
    margin: 10px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.bio-1,
.bio-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blue {
    color: #2851a3;
    cursor: pointer;
}

.bio-feature {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feat-text {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin: 10px 0;
}

.add-feature {
    font-size: 12px;
    padding-right: 5px;
    margin-bottom: 10px;

}

.add-feature-link {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 1px solid #2851a3;
    border-radius: 3px;

}

.link-plus {
    font-size: 20px;
    padding-right: 5px;
}

.status-timeline-wrap {
    width: 100%;
}

.status-top-wrap {
    font-size: 12px;
    height: 33px;
    width: 100%;
    background-color: #f5f6f7;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.status-top {
    padding-left: 5px;
}

.status-med {
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
}

.status-prof {
    margin: 5px;
}

.status-prof-textarea {
    width: 100%;
}

.status-prof-textarea textarea {
    border: none;
    padding: 5px 15px;
    resize: none;
    width: 90%;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    outline: none;
}

.status-bot {
    display: flex;
    border-top: 1px solid lightgray;
    background-color: #fff;
    height: 42px;
    padding-left: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.status-bot-1 {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f7;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
}

.dott {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsFeed-privacy {
    background-color: rgba(255, 255, 255, .56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.privacy-downarrow-icon img {
    width: 20px;
    height: 20px;
}

.newFeed {
    display: flex;
    align-items: center;
}

.newsfeed-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.newsfee-text {
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    margin-left: 10px;
}

.status-privacy {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 3px 5px;
    cursor: pointer;
}

.privacy-downarrow-icon img {
    height: 12px;
    width: 12px;
    position: relative;
    top: .8px;
}

.privacy-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-text {
    margin-right: 3px;
}

.seemore-sharebutton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, .56);
    padding: 5px 10px;
}

.privacy-img {
    width: 12px;
    height: 12px;
}

.status-seemore {
    margin-left: 10px;
    font-size: 12px;
}

.share-seemore-option {
    border: 1px solid gray;
    padding: 5px;
    min-width: fit-content;
}

.status-share-button.align-middle {
    font-size: 14px;
    background-color: rgb(66, 103, 178);
    padding: 3.8px;
    color: #fff;
    width: 100%;
    font-weight: 600;
    margin: 10px 0 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

ul#sortable {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, .99);
    flex-wrap: wrap;
    position: relative;
}

#sortable li {
    margin: 0 3px 0 3px;
    padding:.233rem;
}

.status-share-button-wrap {
    display: none;
}

.status-share-button-wrap.show {
    display: block;
}
.dott {
    font-size: 20px;
    padding-bottom: 20px;
}

.news-feed-text {
    margin: 12px 0;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px gray;
}

.pro-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.nf-pro-privacy {
    background-image: url('../images/privacy.JPG');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.nf-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nf-1-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nf-pro-time-privacy {
    display: flex;
}

.nf-pro-name-time {
    margin-left: 5px;
}

.nf-pro-name {
    color: #365899;
    font-size: 12px;
    font-weight: 600;
}

.nf-pro-time-privacy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nf-pro-time {
    font-size: 10px;
    color: gray;
}

.nf-1-right-dott {
    font-size: 20px;
    font-weight: 600;
    margin-top: -20px;
    cursor: pointer;
}

.nf-2-text {
    margin: 10px 0;
}

.nf-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-top: 5px;
}

.post-option-details {
    position: absolute;
    font-size: 12px;
    color: #0000009e;
    background-color: white;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px grey;
}

.post-option-details ul li {
    margin-top: 5px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
}

.post-option-details ul li:hover {
    background-color: lightgray;
}

.post-option-details ul {
    margin: 5px;
    padding: 0;
}

.likeReact {
    background-image: url('../images/likeReact.JPG');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.nf-3-react-username {
    font-size: 12px;
    color: gray;
}

.nf-4 {
    height: 42px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ra {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.like-action-icon img {
    margin-top: 5px;
    margin-right: 3px;
}

.comment-action-icon img {
    margin-top: 5px;
    margin-right: 3px;
}

.share-action-icon img {
    margin-right: 3px;
}

.nf-5 {
    margin: 10px 0;
}