body{
    font-family: robotto,sans-serif;
    background-color: #E9EBEE;
    margin:0;
    font-size: 16px;
    padding: 0;
}
.header{
    font-family: Helvetica,sans-serif;
    padding: 8px 15%;
    display: flex;
    justify-content: space-between;
    background-color: #3e5c9a;
    color:#fff;
    height: 95px;
}
.logo{
    margin:auto 0;
    font-size: 40px;
    flex-basis: 50%;
}
.sign-in-form{
    display: flex;
    align-items: center;
}
.mobile-input{
    margin-left: 10px;
}
.input-text{
    font-size: 12px;
    padding-bottom: 5px;
}
.input-text-field{
    background-color: #faffbd;
    border:none;
    height: 20px;
}
.password-input{
    margin-left: 1rem;
    margin-top:20px;
    margin-right:1rem;
}
.forgotten-acc{
    font-size: 12px;
    margin-top:5px;
    color:#9cb4d8;
    cursor: pointer;
}
.login{
    height: 30%;
    background-color: #4267bc;
    color:#fff;
    border:none;
    box-shadow:  0 0 1px #000;
    margin-top:18px;
    padding: 5px;
    cursor: pointer;
}
.main{
    font-family: Helvetica,Arial,sans-serif;
    height: 100vh;
    display: flex;
}
.left-side{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.left-side img{
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.right-side{
    flex-basis: 50%;
    margin-top:5%;
}
.error{
    color:red;
    font-size: 18px;
}
.sign-up-form{
    margin-top:10px;
}
.text-field{
    height: 25px;
    padding: 5px;
    border:1px solid lightgrey;
    border-radius: 5px;
    font-size: 16px;;
}
.text-input{
    height: 25px;
    padding: 5px;
    border:1px solid lightgrey;
    font-size: 16px;
    margin-top: 0.8rem;
    border-radius: 5px;
    width: 70%;
}
.bday{
    font-size: 19px;
    color:#141823;
    margin:.8rem 0 5px 0;
}
.select-body{
    display: inline-block;
    height: 30px;
    font-size: 13px;
    border:1px solid #bdc7d8;
    color:#141823;
    border-radius: 5px;
}
.gender-wrap{
    margin:10px 0;
}
.term{
    font-size: 12px;
}
.sign-up{
    background:linear-gradient(#67ae55,#578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6a22 #3b6e22 #2c5115;
    padding: 10px 50px;
    border:1px solid grey;
    border-radius: 5px;
    margin:14px 0;
    font-size: 18px;
    color:#fff;
    cursor: pointer;
}